.test {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
  border: 2px solid rgba(var(--bs-danger-bg-subtle));
}
.back {
  position: "absolute";
  left: 1rem;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  padding: 0.3rem;
}
.back:hover {
  border: 2px solid #fff;
  /* border-color: #fff; */
  background-color: #aeabab;
}
